﻿<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/angular-protractor.png" 
                 class="img-responsive center-block"
                 style="width: 50%"/>
        </div>
         <div class="row"  >
             <div class="text-center">Angular 2 + Protractor</div>
            <div class="text-center">Integracion con  rest api public walmart</div>
            <div class="text-center"><a  href="https://developer.walmartlabs.com/io-docs">
                   https://developer.walmartlabs.com/io-docs</a></div>  
              <div class="text-center">	
            </div>           
            <br>
        </div>
        <div class="row"  >
            <div class="text-center">Desarrollado  por:</div>
            <h3 class="text-center">Cristian Bustamante Sanchéz</h3>
            <h4 class="text-center">Ingeniero Sistemas</h4>
            <h4 class="text-center">TP: 05255-335880 ANT</h4>
            <a href="https://co.linkedin.com/in/cristian-bustamante-7b4466116">
            <img src="./app/assets/images/Linkedin.png" 
                 class="img-responsive center-block"
                 style="width: 50px;padding-bottom:50px"/></a>
        </div>
    </div>
</div>