<div class="panel panel-primary">
    <div class="panel-heading">
        Informacion Personal
    </div>
    <div class="panel-footer">
       <h2 id="formResponse" *ngIf="modelFilled">{{responseMessage}}</h2>
        <form *ngIf="active" #f="ngForm"  (ngSubmit)="onSubmit(name,favColor) ; name='' ; favColor=''">
            <div class="form-group">
                <label for="name">Usuario:</label><br>
                <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese Su Nombre" required [(ngModel)]='name'>
            </div>

            <div class="form-group">
                <label for="favColor">Color Favorito:</label><br>
                <input type="text" class="form-control" id="favColor" name="favColor" placeholder="Ingrese Su Color Favorito " required [(ngModel)]='favColor'>
            </div>

            <button type="submit" id="formButton" class="btn btn-default">Submit</button>
        </form> 
    </div>
    <div class="panel-heading">
        Operaciones Basicas
    </div>
    <h2>Simple Ingreso Texto</h2> 
    <div class="panel-footer"> 
        <div>Yo {{nombre}}</div>
		<input type="text"  id="nombre" class="form-control" [(ngModel)]='nombre'>
		<button  id="sayHello" (click)="sayHello()">Say Hello</button>
		<p id="message">{{message}}</p>
    </div>

    <h2>Simple Calculadora</h2>  
 <input  [(ngModel)]="firstOperand">  <span>+</span> <input [(ngModel)]="secondOperand">     
    <span>=</span>   <span class="result">{{add(firstOperand, secondOperand)}}</span>
    <br>
</div>